html, body {
  margin: 0;
  height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    border: solid black 2px;
    height: 100%;
  }
  
  
  .top {
    background-color: #0275D8;
    height: 20px;
    width: 100%;
  }
  
  .login-box {
    width: 430px;
    height: 320px;
    margin-right: 10%;
    background-color: aqua;
  }
  
  .menu-box {
    width: 580px;
    height: 320px;
    box-sizing: border-box;
    border: solid #CED4DA 1px;
    border-radius: 5px;
    padding: 0 2%
  }

  .gowun-dodum-regular {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  